@import "tailwindcss";

@theme {
	--color-primary: #f05658;
	--font-family-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
	--color-pinkish: #630071;
}

body {
	font-family: "Inter", sans-serif;
}
.mali-font {
	font-family: "Mali", cursive;
}
@media (max-width: 640px) {
	.mobile-font {
		font-family: "Mali", cursive;
	}
}
button {
	cursor: pointer;
}
